# Classification supervisée

## 1. Importation et préparation des données

In [23]:
import pandas as pd
import numpy as np
import ast

In [24]:
data = pd.read_csv("labeling/labeled_data.csv")
data = data.drop(['Unnamed: 0', 'adressebis', 'objet', 'adresse'], axis=1)
data

                                                  corps                 cat
0     ['dear', 'student', 'ambassador', 'lutt', 'you...          Université
1     ['english', ']', 'dear', 'fellow', 'student', ...          Université
2     ['this', 'confirmation', 'password', 'instagra...  Account & Password
3     ['de', 'michel', 'legault', 'sport', 'cc', 'sd...          Université
4     ['confirmation', 'trip', 'monday', 'november',...   Commandes/Tickets
...                                                 ...                 ...
9995  ['imagine', 'explore', 'build', 'tedxwoman', '...           Publicité
9996  ['welcome', 'welcome', 'welcome', 'lutt', 'her...          Université
9997  ['hello', 'the', 'rucher', 'creative', 'offer'...          Université
9998  ['techcrunch', 'newsletter', 'saturday', 'apri...           Publicité
9999  ['hello', 'follow', 'request', 'allow', 'enjoy...          Université

[10000 rows x 2 columns]

In [25]:
i=0
while i < len(data):
    data['corps'][i] = ast.literal_eval(data['corps'][i])
    data['corps'][i] = ' '.join(data['corps'][i])
    i+=1

data

                                                  corps                 cat
0     dear student ambassador lutt you make promotio...          Université
1     english ] dear fellow student for four week mo...          Université
2     this confirmation password instagram account o...  Account & Password
3     de michel legault sport cc sds envoy wednesday...          Université
4     confirmation trip monday november hello you pl...   Commandes/Tickets
...                                                 ...                 ...
9995  imagine explore build tedxwoman event tedxpaju...           Publicité
9996  welcome welcome welcome lutt here procedure fo...          Université
9997  hello the rucher creative offer velos scholars...          Université
9998  techcrunch newsletter saturday april hi m greg...           Publicité
9999  hello follow request allow enjoy beautiful we ...          Université

[10000 rows x 2 columns]

In [26]:
from sklearn.model_selection import train_test_split

X = data['corps']

y = data['cat']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidfconverter = TfidfVectorizer()

X_train_Tfidf_df = tfidfconverter.fit_transform(X_train).toarray()

X_train_Tfidf_df = pd.DataFrame(X_train_Tfidf_df)

X_test_Tfidf_df = tfidfconverter.transform(X_test).toarray()

X_test_Tfidf_df = pd.DataFrame(X_test_Tfidf_df)

X_train_Tfidf_df

,0,1,2,3,4,5,6,7,8,9,...,31083,31084,31085,31086,31087,31088,31089,31090,31091,31092
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95, random_state=42)

X_train_reduced= pca.fit_transform(X_train_Tfidf_df)

X_test_reduced = pca.transform(X_test_Tfidf_df)

X_train_reduced

array([[-0.04793422, -0.07232562,  0.06581777, ..., -0.00879183,
        -0.0012894 , -0.00382341],
       [ 0.0011101 , -0.04200212, -0.08133501, ...,  0.00180129,
        -0.00428553, -0.01357628],
       [-0.02587004, -0.06671835, -0.04082672, ..., -0.00329532,
         0.0016299 , -0.00895257],
       ...,
       [-0.03968072, -0.06150706, -0.02662245, ...,  0.00463919,
         0.00171302,  0.00441992],
       [-0.0389928 , -0.06734312,  0.00933329, ..., -0.0046697 ,
         0.00262062,  0.01314031],
       [-0.04532074, -0.06217971, -0.01208964, ...,  0.00601247,
         0.01124197,  0.00384953]])

In [33]:
X_train_reduced = pd.DataFrame(X_train_reduced)

X_test_reduced = pd.DataFrame(X_test_reduced)

X_train_reduced.shape

(8000, 3560)

In [34]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train_Tfidf_df, y_train)

model2 = GaussianNB()

model2.fit(X_train_reduced, y_train)

GaussianNB()

In [35]:
y_pred = model.predict(X_test_Tfidf_df)

y_pred2 = model2.predict(X_test_reduced)

In [37]:
from sklearn.metrics import accuracy_score

print('Without PCA: '+str(accuracy_score(y_test, y_pred)))

print('With PCA: '+str(accuracy_score(y_test, y_pred2)))

Without PCA: 0.768
With PCA: 0.264